<head>
    <title>home</title>
</head>
<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <!-- home page link and brand name -->
        <a class="navbar-brand" href="/">PACKBUILDER</a>

        <!-- toggler for 'collapsed mode' -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- all links inside this div are added to the toggle list in collapsed mode -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <!-- page links -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="/reviews">Reviews</a></li>
                <li class="nav-item"><a class="nav-link" href="/loadout">Loadout</a></li>
                <li class="nav-item"><a class="nav-link" href="/blog">Blog</a></li>
                <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
            </ul>


            <!-- social links -->
            <ul class="nav navbar-nav navbar-right social_links">
                <li><a href="#"><i class="fa fa-facebook-official"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-envelop"></i></a></li>
            </ul>


            <!-- login and signup! -->
            <!-- <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul> -->

        </div>
    </nav>



</body>
